<!DOCTYPE html>
<html>
    <head>
        <title>Angular App</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
            <!-- jQuery library -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
            <!-- Latest compiled JavaScript -->
            <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28//angular-route.min.js"></script>
            <script type="text/javascript" src="main.js"></script>
        </head>
        <body >
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-8 col-xs-12">
                        <form>
                            <div class="form-group">
                                <label>
                                    <h4>Select Your Choice</h4>
                                </label>
                                <select ng-model="criteria"  class="form-control">
                                    <option value="post">Post</option>
                                    <!--<option value="newPost">New Post</option>-->
                                    <option value="user">User</option>
                                </select>
                            </div>
                            <div class="form-group" >
                                <label ng-show="criteria=='post'">Post</label>
                                <input  ng-show="criteria=='post'" ng-model="postId" type="text" placeholder="Post" class="form-control">
                                    <br>
                                        <br>
                                            <a href="#/post/{{postId}}" ng-show="criteria=='post'">View Particular Post</a>
                                            <!--<button ng-show="criteria=='post'" type="anchor" class="btn btn-default" src="#/post">View Post</button>
                
                        -->
                                            <label ng-show="criteria=='user'">User</label>
                                            <input  ng-show="criteria=='user'" ng-model="userId" type="text" placeholder="User" class="form-control">
                                                <br><br>
                                                        <!--<button  ng-show="criteria=='user'" type="anchor" class="btn btn-default" src="#/users/{{userId}}">View Users</button>-->
                                                        <a href="#/users/{{userId}}" ng-show="criteria=='user'">View Particular User</a>
                                                        <label ng-show="criteria=='newPost'">Post Title</label>
                                                        <input type="text"  ng-show="criteria=='newPost'" ng-model="newdata.title" placeholder="Enter Title"/>
                                                        <label ng-show="criteria=='newPost'">Post Description</label>
                                                        <input type="text"  ng-show="criteria=='newPost'" ng-model="newdata.description" placeholder="Enter Description"/>
                                                        <a ng-show="criteria=='newPost'" href="#/post/new">New Post</a>
                                                    </form>
                                                    <a href="#/users">All Users</a>&nbsp; &nbsp; 
                                                    <a href="#/post">All Posts</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
    </body>
</html>